autognosys.net {
    # Next.js website
    handle /api/* {
        reverse_proxy localhost:8000
    }

    handle /observability/* {
        reverse_proxy localhost:5080
    }

    handle {
        reverse_proxy localhost:3000
    }

    # Structured JSON access logs
    log {
        output file /var/log/caddy/access.log
        format json
    }
}
